{% extends 'base.html' %} 
{% block title %}

{% endblock %}
{% block content %}

<h1>my noods</h1>
<a class="button-is-dark" href="{% url 'noodle_new' %}">Add Nood</a>
<form class="mb-5" method="get">
    <div class="field has-addons">
      <div class="control">
        <!--  Our input will search by name of artist  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div class="control">
        <input class="button" type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to artist list without a query param -->
    <a class="button-is-dark" href="{% url 'noodle_list' %}">Clear Search</a>
  </form>

<div class="gallery">
    {% for noodle in noodle %}
    <a href="{% url 'noodle_about' noodle.pk %}">
      <div class="card">
          <div class="card-image">
            <img src="{{noodle.img}}" alt="{{noodle.name}}" />
          </div>
          <div class="card-header">
            <p class="card-header-title">{{noodle.name}}</p>
          </div>
       </div>
       </a>
   
    {% endfor %}
</div>
  
  {% endblock %}